output "${name}-vpn-address" {
  value = "$${module.${name}-vpn.ip_address}"
}

module "${name}-vpn" {
  source   = "armorfret/wireguard/linode"
  version  = "${version}"
  name     = "${name}"
  ssh_keys = ["$${values(data.external.ssh_keys.result)}"]
  region   = "${region}"
  image_id = "${image_id}"
  users    = [${userlist}]
  type     = "g6-standard-1"
}
