output "${name}-vpn-address" {
  value = "$${module.${name}-vpn.ip_address}"
}

module "${name}-vpn" {
  source   = "armorfret/wireguard/linode"
  version  = "0.0.6"
  name     = "${name}"
  ssh_users = ["$${data.linode_profile.profile.username}"]
  region   = "${region}"
  image_id = "${image_id}"
  users    = [${userlist}]
  type     = "g6-standard-1"
}
